.parent{
    width: 200px;
    height: 200px;
    /* border: 10px double black; */
    /* transform: translate(600px, 30px); */
    /* transform: rotate(45deg); */
    /* transform: scale(.5); */
    /* transform: skew(30deg); */
}

.box{
    width: 300px;
    height: 300px;
    border: 2px solid black;
}